body {
  margin: 0;
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);

}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: azure;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-main-item{
  width: 100%;
  background-color: black;
}

.flex-item {
  text-align: center;
  background-color: black;
  width: 15%;
  margin: 5%;
}